﻿@model ModuloEscolar.Controllers.AlumnoViewModel

@{
    ViewBag.Title = "Alumno";
}

<h2>Alumno</h2>


@using (Html.BeginForm("GuardarAlumno", "Alumno", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Html.ActionLink("Lista de Alumnos", "ListarAlumno") /Mantenimiento de Alumnos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ApellidoPaterno, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ApellidoMaterno, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.CodigoModular, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.CodigoModular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CodigoModular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.UbigeoNacimiento, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.UbigeoNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UbigeoNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.TipoDocumentoIdentidad, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.DropDownListFor(x => Model.TipoDocumentoIdentidad, Model.ListaTipoDocumentoIdentidad, "--Seleccione--", new { @class = "btn btn-primary dropdown-toggle" })
                </div>
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.NumeroDocumentoIdentidad, htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.NumeroDocumentoIdentidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumeroDocumentoIdentidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-sm-5" })
                    <div class="col-sm-6">
                        @Html.DropDownListFor(x => Model.Estado, Model.ListaEstado, "--Seleccione--", new { @class = "btn btn-primary dropdown-toggle" })
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Grabar" class="btn btn-primary" />
                </div>
            </div>
        </div>
            </div>
            }

            <div>

            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
