﻿@model IEnumerable<ModuloEscolar.Models.ListarAlumnoViewModel>
@{ViewBag.Title = "Lista de Alumnos"; }
<h2>Lista de Alumnos</h2>
@using (Html.BeginForm("Buscar","Alumno", null, FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-inline">
        <div class="form-group col-sm-8">
            <input type="text" placeholder="Nombres y Apellidos..." name="Busqueda" class="form-control" style="max-width:600px" />
        </div>
        <input type="submit" value="Buscar" class="btn btn-primary" />
        @Html.ActionLink("Registrar Alumno", "Alumno", "Alumno", new {  @class = "btn btn-primary" })
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Modificar", new { id=item.Id }) |
            @Html.ActionLink("Anular", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>