﻿@model IEnumerable<ModuloEscolar.Models.ListarMatriculaViewModel>
@{ ViewBag.Title = "Lista de Matricula"; }
<h2>Lista de Matriculas</h2>
<p>
    @Html.ActionLink("Ingresar Nueva Matricula", "Matricula")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alumno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Modificar", new { IdMatricula = item.IdMatricula }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdMatricula  })
        </td>
    </tr>
}
</table>