﻿@model ModuloEscolar.Models.MatriculaViewModel
@{ViewBag.Title = "Matricula";}
<h2>Matricula</h2>
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Html.ActionLink("Lista de Matriculas", "ListarMatricula") / Mantenimiento de Matriculas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdMatricula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdMatricula, new { htmlAttributes = new { @class = "form-control",@disabled = true } })
                @Html.ValidationMessageFor(model => model.IdMatricula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaMatricula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaMatricula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaMatricula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdAlumno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdAlumno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdAlumno, "", new { @class = "text-danger" })
            </div>
        </div>
        @using (Html.BeginForm("ListaNivel", "Matricula", FormMethod.Post, new { @id="TurnoForm" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IdTurno, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => Model.IdTurno, Model.ListaTurno, "--Seleccione--", new { @class = "btn btn-primary dropdown-toggle" })
                    @Html.ValidationMessageFor(model => model.IdTurno, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @using (Html.BeginForm("ListaGrado", "Matricula", FormMethod.Post, new { @id="NivelForm" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IdNivel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => Model.IdNivel, Model.ListaNivel, "--Seleccione--", new { @class = "btn btn-primary dropdown-toggle" })
                    @Html.ValidationMessageFor(model => model.IdNivel, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @using (Html.BeginForm("ListaSeccion", "Matricula", FormMethod.Post, new { @id="GradoForm" }))
        {
        <div class="form-group">
            @Html.LabelFor(model => model.IdGrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.IdGrado, Model.ListaGrado, "--Seleccione--", new { @class = "btn btn-primary dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.IdGrado, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.IdSeccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.IdSeccion, Model.ListaSeccion, "--Seleccione--", new { @class = "btn btn-primary dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.IdSeccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>

<div>    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#IdTurno").change(function () {
                $("#TurnoForm").submit();
            })
            $("#IdNivel").change(function () {
                $("#NivelForm").submit();
            })
            $("#IdGrado").change(function () {
                $("#GradoForm").submit();
            })
        })
    </script>
}